#headerDiv{
	background-color: #41B3A4;
	color: white;
}
h5{
	color: #41B3A4;
}
#headerTitle{
	text-align: center;
	font-family: 'Lobster', cursive;
	padding:20px;
}
.body{
	background: url();
}
#searchDiv{
	background-color: white;
}
#searchButton{
	margin-left:225px;
}
#userImage{
	height: 200px;
	width: 200px;
	margin-left: 50%;
	border: 3px solid rgb(219, 219, 219);
	border-radius: 50%;
}

#otherDetailsColumn{
	margin-top: 30px;
	margin-left: 0px;
	font-family: Dancing+Script;
}
.form-control{
	text-align: center;
	margin-top: 10px;
}
#user-bio {
	padding-top:3px;
} 
#detailContent{
	color: #000000;
}